.OccupationalHealthPage{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
}

.page-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 960px;
  margin:30px 0;
  margin-top: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}
.responsive-table{
  margin:15px;
  font-size: 14px;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: calc(0.7rem + 0.4vw);
}
.responsive-table .table-header {
  background-color: var(--secondary-color);
  font-size:16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.responsive-table .col-1 {
  flex-basis: 15%;
}
.responsive-table .col-2 {
  flex-basis: 85%;
}
@media (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    text-align: left;
  }
}

.header{
  font-size: calc(0.75rem + 1vw); 
  margin: 30px;
  text-align: center;
  text-transform: uppercase;
}

.additional-resource-link{
  text-decoration: none;
  color:var(--primary-color);
  white-space: nowrap;
}

.empty-link{
  color:red;
}