.card-container {
  width: clamp(200px, 75vw, 960px);
  height: calc(20rem + 5vw);
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(10px + 1vw);
  flex-grow: 1;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.link {
  border-radius: 20px;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  color: white;
}
.text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: calc(1rem + 3vw);
  width: 100%;
  text-align: center;
}
.description {
  font-size: large;
  text-align: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
  border-radius: 20px;
}
