@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --navbar-height: 5rem;
  --footer-height: 10rem;
  --primary-color: brown;
  --secondary-color: #ecf0f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: sans-serif;
  font-size: 13px;
  line-height: 1.3;
}
