.scroll-arrow{
  position:fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid var(--primary-color);
  border-radius: 999px;
  right: 50px;
  bottom: 50px;
  background-color: white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}